body {
  padding: 0;
  background: #fff;
}

h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
span {
  font-weight: bolder;
}
p {
  color: #fff;
  /* font-size: 18px; */
  /* letter-spacing: 0.04rem; */
}
.heroes-info {
  background: #fff;
  font-family: "Comic sans ms";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  border: 5px solid #fff;
  border-radius: 3px;
}
.superhero {
  text-align: justify;
  padding: 1rem 2rem;
  background: rgb(39, 38, 38);
}

.rating-area {
  border: 1px solid red;
  overflow: hidden;
  max-width: 225px;
  margin: 0 auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: "★";
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 2px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px green;
}
/* .rate-area > label:active {
  position: relative;
} */

@media (max-width: 767px) {
  .heroes-info {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .heroes-info {
    grid-template-columns: 1fr;
  }
}
